{% extends 'index.html' %}
{% load static %}

{% block content %}
    <h2>Вход</h2>
    <form action="{% url 'login' %}" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="m-1 {% if field.errors %} errors {% endif %}">{{ field.label_tag }}</div>
            <div class="m-1 {% if field.errors %} errors {% endif %}">{{ field.errors }}</div>
            <div class="m-1 {% if field.errors %} errors {% endif %}">{{ field }}</div>
        {% endfor %}
        <div class="m-1">
            <button class="see-button" type="submit">Войти</button>
        </div>
    </form>
        <div>
            <a href="{% url 'registration' %}"><button class="see-button">Регистрация</button></a>
        </div>
{% endblock %}