{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="person-cont col-3">
        <h2>Вход</h2>
        <form action="{% url 'login' %}" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="m-1 {% if field.errors %} errors {% endif %}">{{ field.label_tag }}</div>
                <div class="m-1 {% if field.errors %} errors {% endif %}">{{ field.errors }}</div>
                <div class="m-1 {% if field.errors %} errors {% endif %}">{{ field }}</div>
            {% endfor %}
            <div class="m-1">
                <a class="person-a" href="{% url 'password_reset' %}">Забыли пароль?</a>
            </div>
            <div class="m-1">
                <button class="see-button" type="submit">Войти</button>
                <a href="{% url 'registration' %}"><button class="see-button" type="button">Регистрация</button></a>
            </div>
        </form>
    </div>
{% endblock %}