{% extends 'index.html' %}
{% load static %}

{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="m-1 {% if field.errors %} errors {% endif %}">{{ field.label_tag }}</div>
            <div class="m-1 {% if field.errors %} errors {% endif %}">{{ field.errors }}</div>
            <div class="m-1 {% if field.errors %} errors {% endif %}">{{ field }}</div>
        {% endfor %}
        <button class="see-button" type="submit">Отправить</button>
    </form>
{% endblock %}