body {
  font-family: "Century Gothic", "Times New Roman", sans-serif;
  font-size: large;
  color: goldenrod;
  margin: 20px;
  text-shadow: 3px 3px 6px black;
  /*background-image: url("../img/fon.jpg");*/
  background-color: black;
  background-attachment: fixed;
  background-repeat: repeat;
}

.menu-bar {
  background-color: goldenrod;
  border-radius: 20px;
}

.menu-a {
  text-decoration: none;
  font-size: 1em;
  transition: linear 0.6s;
}

.menu-a:hover {
  scale: 1.05;
}

ul {
  list-style-type: none;
}

.form-block {
  padding: 10px;
  max-width: 360px;
  border-radius: 5%;
  border: goldenrod solid 3px;
  background-color: darkslategray;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.sub-button {
  display: inline-block;
  display: -moz-inline-block;
  margin: auto;
  width: 30%;
}

input {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  padding: 5px;
  border-radius: 10px;
  box-shadow: black 3px 3px 7px;
}

.errorlist {
  margin: 0;
  padding: 0;
  max-width: 50%;
  font-size: x-small;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  list-style-type: none;
}

.errors input {
  border-color: red;
  background-color: #ffb3b3;
}

.errors label{
  color: #ff0000;
  font-size: x-large;
}

.thanks-cont {
  max-width: 500px;
  border-radius: 5%;
  color: wheat;
  border: goldenrod solid 3px;
  background-color: darkslategray;
}

.important {
  color: goldenrod;
  font-weight: bold;
}

.white {
  color: black;
  border-radius: 5px;
  margin: 2%;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.card {
  text-align: center;
  border: 2px solid goldenrod;
  color: white;
  margin: 2%;
  min-height: 450px;
  width: 300px;
}

.see-button {
  margin-top: 0.5%;
  background-color: rgba(153, 153, 153, 0.2);
  color: white;
  border: white double 3px;
  border-radius: 10px;
  transition: linear 0.6s;
}

.see-button:hover {
  scale: 1.05;
  color: goldenrod;
  border: goldenrod double;
  box-shadow: goldenrod 0 0 20px;
}

.person-a, .page-a {
  text-decoration: none;
  color: goldenrod;
  transition: linear 0.6s;
}

.person-cont, .movie-cont {
  background-color: rgba(153, 153, 153, 0.2);
  margin: 2%;
  padding: 2%;
  color: white;
  border-radius: 20px;
}

.person-cont {
  min-width: 30%;
}

.page-text {
  color: white;
}

.person-a:hover, .page-a:hover {
  color: red;
  text-shadow: crimson 3px 3px 10px;
  scale: 1.15;
}

.gold {
  background-color: goldenrod;
  color: white;
}

.admin-button {
  background-color: goldenrod;
  margin: 1%;
  padding: 0.8%;
  color: white;
  border-radius: 20px;
  border: white double 3px;
  transition: linear 0.6s;
}

.admin-button:hover {
  background-color: white;
  color: red;
  border: red double 3px;
  box-shadow: red 0 0 20px;
}

.errorlist {
  margin: 0;
  padding: 0;
  max-width: 50%;
  font-size: small;
  text-align: left;
  text-align: -webkit-left;
  text-align: -moz-left;
  list-style-type: none;
}

.errors input {
  border-color: red;
  background-color: #ffb3b3;
}

.errors label{
  color: #ff0000;
  font-size: x-large;
}
